.header {
    display: flex;
    flex-wrap: wrap;
}

.header__logo {
    display: none;
}

.header__title {
    max-width: 38vmax;
    margin-right: 1vmax;
    padding-left: 1em;
    font-size: 6vmax;
    line-height: 1.2;
    
    &::first-letter {
        margin-left: -.72em;
    }
}

@media screen and (min-width: 991px) {
    .header__menu {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        padding: 1vw 3vw;
        background: rgba(0,0,0,.053);
        backdrop-filter: blur(8px);
    }

    .header__logo {
        display: block;
        margin-top: -3rem;
        margin-left: -3rem;
    }
}
