.header {
    display: flex;
    flex-wrap: wrap;
}

.header__title {
    max-width: 38vmax;
    margin-right: 1vmax;
    padding-left: 1em;
    font-size: 6vmax;
    line-height: 1.2;
    
    &::first-letter {
        margin-left: -.72em;
    }
}

.header__logo {
    margin-top: -3rem;
    margin-left: -3rem;
}
