.cover {
  position: relative;
  width: 100%;
  height: 100vw;
  margin-bottom: -10vw;

  &,
  & * {
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }
}

.cover_disabled-animation .cover__part {
  transform: translateZ(0);
  animation-play-state: paused;
}

.cover__inner {
  position: absolute;
  top: -42%;
  width: 130%;
  height: 130%;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
}

.cover__part {
  --cover-rotate-deg: 0deg;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: rotate(calc(var(--cover-rotate-deg) * var(--cover-scroll-percent))) translateZ(0);
  transform-origin: center;
	will-change: transform;
}

.cover__part_2 {
  --cover-rotate-deg: -12deg;
}

.cover__part_3 {
  --cover-rotate-deg: 10deg;
}

.cover__part_4 {
  --cover-rotate-deg: -8deg;
}

.cover__part_5 {
  --cover-rotate-deg: 6deg;
}

.cover__part_6 {
  --cover-rotate-deg: -4deg;
}

.cover__part svg {
  --cover-rotate-deg: 0deg;
  animation: coverPartRotate .5s linear infinite;
  will-change: auto;
}

.cover__part_1 svg {
  animation: none; 
}

.cover__part_2 svg {
  animation-duration: 50s;
  animation-direction: reverse;
}

.cover__part_3 svg {
  animation-duration: 75s;
}

.cover__part_4 svg {
  animation-duration: 100s;
  animation-direction: reverse;
}

.cover__part_5 svg {
  animation-duration: 150s;
}

.cover__part_6 svg {
  animation-duration: 200s;
  animation-direction: reverse;
}

@media screen and (min-width: 768px) {
  .cover__part_2 svg {
    animation-duration: 350s;
  }
  
  .cover__part_3 svg {
    animation-duration: 375s;
  }
  
  .cover__part_4 svg {
    animation-duration: 400s;
  }
  
  .cover__part_5 svg {
    animation-duration: 450s;
  }
  
  .cover__part_6 svg {
    animation-duration: 500s;
  }
}

@keyframes coverPartRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
