.cover {
  position: relative;
  width: 100%;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &,
  & * {
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }
}

.cover__inner {
  position: absolute;
  width: 150%;
  height: 150%;
  margin-top: -50%;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
}

.cover__part {
  --rotate-deg: 0deg;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: rotate(calc(var(--rotate-deg) * var(--page-scroll-percent))) translateZ(0);
  transform-origin: center;
	will-change: transform;
  transition: cubic-bezier(0, 0, .4, 1) transform;
  will-change: transform;
}

.cover__part_2 {
  --rotate-deg: -3deg;
  transition-duration: 1.1s;
}

.cover__part_3 {
  --rotate-deg: 3deg;
  transition-duration: 1.2s;
}

.cover__part_4 {
  --rotate-deg: -3deg;
  transition-duration: 1.3s;
}

.cover__part_5 {
  --rotate-deg: 3deg;
  transition-duration: 1.3s;
}

.cover__part_6 {
  --rotate-deg: -3deg;
  transition-duration: 1.4s;
}

@media screen and (max-width: 768px) {
  .cover__part {
    --rotate-deg: 0deg;
    animation: coverPartRotate .5s linear infinite;
  }

  .cover__part_1 {
    animation: none; 
  }
  
  .cover__part_2 {
    animation-duration: 50s;
    animation-direction: reverse;
  }
  
  .cover__part_3 {
    animation-duration: 75s;
  }
  
  .cover__part_4 {
    animation-duration: 100s;
    animation-direction: reverse;
  }
  
  .cover__part_5 {
    animation-duration: 150s;
  }
  
  .cover__part_6 {
    animation-duration: 200s;
    animation-direction: reverse;
  }
}

@keyframes coverPartRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
