.partners {
    
}

.partners__list {
    display: flex;
    gap: max(1.5vmax, 20px);
    justify-content: center;
    margin-bottom: 20px;
}

.partners__list-item {
    width: 100%;
}

.partners__logo {
    max-width: 100%;
    object-fit: contain;
}

.partners__description {
    font-size: max(1.5vmax, 32px);
    line-height: 1.6;
    max-width: 78vmax;
    margin-bottom: 3vmin;
}
