.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 20px;
}

.partners__list-item {
    flex-basis: calc(100% / 3);
    padding-right: 7vmin;
    padding-bottom: 5vmin;
}

.partners__logo {
    max-width: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);
    transition: .15s ease filter;

    &:hover {
        filter: none;
    }
}

.partners__description {
    font-size: 2.9vmax;
    line-height: 1.6;
    margin-bottom: 4vmax;
}

.partners__description_left {
    margin-right: auto;
}

.partners__description_right {
    padding-left: 2em;
    margin-left: auto;

    &::first-letter {
        margin-left: 1em;
    }
}

@media screen and (min-width: 768px) {
    .partners__description {
        font-size: 3.2vw;
    }

    .partners__description_left {
        padding-right: 5em;
        margin-right: auto;
    }

    .partners__description_right {
        padding-left: 2em;
        margin-left: auto;

        &::first-letter {
            margin-left: 3em;
        }
    }
}

@media screen and (min-width: 1600px) {
    .partners__list-item {
        flex-basis: calc(100% / 4);
    }
}
