.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: -7vmin;
    margin-right: -7vmin;
}

.partners__list-item {
    position: relative;
    flex-basis: calc(100% / 3);
    padding-right: 7vmin;
    padding-bottom: 5vmin;
}

.partners__link {
    position: relative;
    display: block;
    transform: translateZ(0) scale(1) rotate(0deg);
    transition: .15s ease transform;

    &:hover {
        transform: translateZ(0) scale(1.05) rotate(3deg);
    }

    &:hover .partners__logo {
        opacity: 0;
    }

    &:hover .partners__logo_color {
        opacity: 1;
    }
}

.partners__logo {
    max-width: 100%;
    object-fit: contain;
    transition: .15s ease opacity;
    pointer-events: none;
}

.partners__logo_color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.partners__description {
    font-size: 2.9vmax;
    line-height: 1.6;
    margin-bottom: 4vmax;
}

.partners__description_left {
    margin-right: auto;
}

.partners__description_right {
    padding-left: 2em;
    margin-left: auto;

    &::first-letter {
        margin-left: 1em;
    }
}

@media screen and (min-width: 768px) {
    .partners__description {
        font-size: 3.2vw;
    }

    .partners__description_left {
        padding-right: 5em;
        margin-right: auto;
    }

    .partners__description_right {
        padding-left: 2em;
        margin-left: auto;

        &::first-letter {
            margin-left: 3em;
        }
    }
}

@media screen and (min-width: 1600px) {
    .partners__list-item {
        flex-basis: calc(100% / 4);
    }
}
