.projects-list {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr;
  margin: 0 -.75vw;
}

.projects-list__item {
  position: relative;
  margin: .36vmax;
  margin-bottom: 1.25vmax;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

@media screen and (min-width: 560px) {
  .projects-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-list__item_big {
    grid-area: span 2 / span 2;
  }
}

@media screen and (min-width: 768px) {
  .projects-list {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 -2vw;
  }

  .projects-list__item {
    margin-bottom: .36vmax;
  }
}

@media screen and (min-width: 991px) {
  .projects-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .projects-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
