.post-preview-grid {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr;
  gap: .75vw;
}

.post-preview-grid__item {
  position: relative;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

@media screen and (min-width: 560px) {
  .post-preview-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .post-preview-grid__item_highlight {
    grid-area: span 2 / span 2;
  }
}

@media screen and (min-width: 768px) {
  .post-preview-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .post-preview-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .post-preview-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
