.post-preview-grid {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr;
  gap: .75vw;
}

.post-preview-grid__item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: #222222;
  transition: .25s ease transform;
  transform: translateZ(0) scale(1);
  transform-origin: center;
  box-shadow: 0 2px 25px rgba(0,0,0,.5);

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: 100%;
  }
}

@media screen and (min-width: 560px) {
  .post-preview-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .post-preview-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .post-preview-grid__item_highlight {
    grid-area: span 2 / span 2;
  }
}

@media screen and (min-width: 1024px) {
  .post-preview-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .post-preview-grid__item {
    &:hover {
      transform: translateZ(0) scale(1.1);
      z-index: 1;
    }
  }
}
