#cover {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vw;
}

.main-headline {
  color: #ffd400;
  font-size: 15vw;
  line-height: 0.83;
  margin-top: 65vw;
  transform: skewY(-4deg);
}

.main-text {
  font-size: 2.5vw;
}
.main-text.first {
  margin-top: 1.5vw;
}

.battery-video {
  margin-bottom: 4vw;
}
.battery-video video {
  border-radius: 1.5vw;
}

.write-btn {
  display: inline-block;
  width: 96%;
  margin: 2vw 2% 4vw;
  padding: 1.5vw 0;
  background: #ffd400;
  border-radius: 1.5vw;
  color: #fff;
  font-size: 4.75vw;
  text-align: center;
  font-weight: 500;
  transform: scale(1);
  transition: all 0.15s ease;
  box-shadow: none;
}
.write-btn:hover {
  color: #ffd400;
  background: #fff;
  transform: scale(1.05) !important;
  box-shadow: none;
}

@media (max-width: 750px) {
  .main-headline {
    font-size: 19vw;
    line-height: 0.83;
  }
  .main-text {
    font-size: 5vw;
  }
  .battery-video {
    width: 96%;
    margin: 4vw 2%;
  }
  .write-btn {
    font-size: 8vw;
    line-height: 1;
    padding: 3vw 0;
  }
}