#cover {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vw;
}

.main-headline {
  font-size: 13.7vw;
  line-height: 0.83;
  margin-top: 33vw;
  transform: skewY(-4deg);
}

.main-text {
  font-size: 2.5vw;
}