.footer {
    font-size: 7.9vw;
    line-height: .98;
    font-weight: 500;
    color: #1E2841;
    margin-bottom: 5vw;
    white-space: nowrap;
}

.footer__year {
    position: relative;
    display: flex;
    font-feature-settings: "onum";
}

.footer__year-dash:before {
    content: '';
    position: absolute;
    height: .115em;
    top: .4em;
    width: calc(100% - 4em);
    transform: translateX(.25em);
    background: currentColor;
    clip-path: polygon(0 0, 100% 0, calc(100% - .02em) 100%, 0% 100%);
}

.footer__year-dash::after {
    content: '20';
    position: absolute;
    right: 0;
}
