.footer {
    font-size: 7.9vw;
    line-height: .98;
    margin-bottom: 9vh;
    font-weight: 500;
    color: #1E2841;
    white-space: nowrap;
}

.footer__year {
    position: relative;
    display: flex;
    font-feature-settings: "onum";
}

.footer__year-dash:before {
    content: '';
    position: absolute;
    height: .115em;
    top: .4em;
    width: calc(100% - 4em);
    transform: translateX(.1em);
    background: currentColor;
    clip-path: polygon(0 0, 91.2% 0, calc(91.2% - .02em) 91.2%, 0% 91.2%);
}

.footer__year-dash::after {
    content: '2022';
    position: absolute;
    right: 0;
}
