.contacts {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: -4vmin;
  line-height: 1;
}

.contacts__item {
  flex-basis: 50%;
  transform-origin: center;
  transition: .1s ease;
}

.contacts__item .contacts__icon:hover {
  transform: scale(1.05) translateZ(0);
}

.contacts__item_mail:hover {
  transform: scale(1.05) rotate(-1deg) translateZ(0);

  .contacts__caption_mail {
    color: rgba(#00B400, .4);
  }

  .contacts__link {
    box-shadow: inset 0 -.11em black, inset 0 -.16em rgba(#00B400, .2);
    color: #00B400;
  }

  .contacts__link:hover {
    box-shadow: inset 0 -.11em black, inset 0 -.16em rgba(#00B400, .6);
  }
}

.contacts__caption_mail {
  display: inline-block;
  margin-bottom: .2em;
  margin-left: .5vw;
  transition: all .1s ease;
  color: rgba(#FFD400, .4);
  font-size: 6vw;
  font-weight: 500;
}

.contacts__icon {
  display: inline-block;
  position: relative;
  width: 100%;
  transition: transform .15s ease;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.contacts__link {
  max-width: none;
  color: #FFD400;
  font-size: 15vw;
  font-weight: 500;
  line-height: .86;

  &:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 0;
  }

  .contacts__caption_mail {
    font-size: 3vw;
    margin-top: 2vmin;
  }

  .contacts__link {
    font-size: 10vw;
  }
}

@media screen and (min-width: 1600px) {
  .contacts {
    margin-top: 15vmin;
  }

  .contacts__item {
    flex-basis: calc(100% / 4);
  }

  .contacts__link {
    font-size: 10vw;
  }
}