.post-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.post-preview__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	animation: fadeIn .15s both;
}

.post-preview__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 8px;
    transform: translateZ(0);
}

.post-preview__image:nth-of-type(1) {
	animation: fadeIn-1 12s 3s ease both infinite;
}

.post-preview__image:nth-of-type(2) {
	animation: fadeIn-2 12s 6s ease both infinite;
}

.post-preview__image:nth-of-type(3) {
	animation: fadeIn-2 12s 3s ease both infinite;
}

.post-preview__image:only-of-type {
	animation: none !important;
}

@keyframes fadeIn-1 {
	0% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	30% {
		opacity: .5;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn-2 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn-3 { 
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
