.post-preview {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 8px;
	background: #222222;
}

.post-preview__title {
	display: flex;
	position: absolute;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	padding: 1.5vmax 1.5vmax;
	font-size: max(1.5vmax, 29px);
	line-height: 1.4;
	transition: .35s ease opacity;

	&:hover {
		opacity: 1;
		text-decoration: none;
	}

	&:hover .post-preview__image img {
		transform: translateZ(0) scale(1.05);
	}
	
	&:hover .post-preview__title-caption {
		opacity: 1;
	}
}

.post-preview__title-caption {
	position: relative;
	z-index: 3;
    font-weight: 500;
	transform: matrix(1, -0.08, 0, 1, 0, 0);
	transition: .15s ease opacity;
	color: white;
}

@media screen and (min-width: 560px) {
	.post-preview__title-caption {
		opacity: 0;
	}

	.post-preview_highlight .post-preview__title {
		font-size: max(2.1vmax, 45px);
		padding: 2.5vmax 2.5vmax;
	}
	
}

.post-preview__title-caption_contrast {
    color: black;
	background: #FFD400;
	padding: .1em .2em .1em .2em;
	margin-bottom: -1.5em;
}

.post-preview__title-underline {
	position: absolute;
	top: .06em;
	left: 0;
	transition: .15s ease;
	color: transparent;
	text-decoration: underline;
	text-shadow: none;
	pointer-events: none;
	text-decoration-color: rgba(255, 255, 255, 0.5);
}

.post-preview__title-underline_contrast {
	padding: .1em .2em .1em .2em;
	text-decoration-color: rgba(0, 0, 0, 0.5);
}

.post-preview__image {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	animation: fadeIn .15s both;
	pointer-events: none;
	border-radius: 8px;
}

.post-preview__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 8px;
	transform: translateZ(0) scale(1);
	transition: .15s ease transform;
}

.post-preview__image:nth-of-type(1) {
	animation: fadeIn-1 12s 3s ease both infinite;
}

.post-preview__image:nth-of-type(2) {
	animation: fadeIn-2 12s 6s ease both infinite;
}

.post-preview__image:nth-of-type(3) {
	animation: fadeIn-2 12s 3s ease both infinite;
}

.post-preview__image:only-of-type {
	animation: none !important;
}

@keyframes fadeIn-1 {
	0% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	30% {
		opacity: .5;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn-2 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn-3 { 
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
