@import './font.scss';
@import './typography.scss';

html,
body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Iset Sans', sans-serif;
  font-size: 20px;
  line-height: 1.85;
  scroll-behavior: smooth;
}

.wrap {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

// TODO remove ul, li, footer test styles
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

#nprogress .bar {
  background-color: #fff !important;
  height: 3px;
}
#nprogress .peg {
  box-shadow: 0 0 20px #fff, 0 0 10px #fff !important;
}

.main-visual {

}

.main-visual__title {
  color: #FFD400;
  font-size: 9.7vw;
  font-weight: 600;
  line-height: .98;
  transform: matrix(1, -0.08, 0, 1, 0, 0);
  padding-left: 3em;
  margin: 0 0 .2em;

  &::first-letter {
    margin-left: -2.9em;
  }
}

.main-visual__description {
  transform: matrix(1, -0.08, 0, 1, 0, 0);
  margin: 0;
  margin-left: 1em;
  font-size: 4.1vw;
  line-height: 1.19;
  padding-left: 6.2em;
  font-weight: 500
}

.main-visual__logo {
  display: block;
  width: 10vw;
  height: auto;
  margin-top: .75em;
  margin-left: .11em;
}


// мобила
@media (max-width: 768px) {
  .main-visual__title {
    font-size: 11vw;
    padding-left: 0;

    &::first-letter {
      margin-left: 0;
    }
  }
  .main-visual__description {
    font-size: 6vw;
    margin-left: .1em;
    padding-left: 0;
  }
  .main-visual__logo {
    width: 14vw;
  }
}
