@use 'font';
@use 'main-visual';
@use 'nprogress';
@use 'section';
@use 'typography';

html,
body {
  margin: 0;
  padding: 0;
  background: black;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Iset Sans', sans-serif;
  font-size: 20px;
  line-height: 1.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.wrap {
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

// TODO remove ul, li, footer test styles
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}
