.section {
  margin-bottom: 10.75vmax;
  padding-top: .75vmax;
}

.section__heading {
  position: relative;
  margin: 1.5vmax 0 6vmax;
  transform: matrix(1, -0.08, 0, 1, 0, 0);
  color: #55647D;
  font-size: 18vmin;
  line-height: 0.86;
}

.section__heading a {
  color: currentColor;
  text-decoration: underline;
  text-decoration-color: rgba(85, 100, 125, .5);
  text-decoration-skip-ink: none;
  transition: .15s ease;

  &:hover {
    text-decoration-color: rgba(85, 100, 125, .7);
  }
}

.section__heading_projects {
  margin-right: .4em;
  margin-bottom: .2em;
  opacity: 1;
  color: #00B4FF;
}

.section__heading_support-us {
  margin-top: 6vmax;
  line-height: .9;
}

.section__heading_partners {
  margin-bottom: 0;
}

.section__heading_contacts {
  font-size: 23vmin;
  margin-top: -10vmax;
  margin-bottom: 5vmax;
  line-height: .83;
}

.section__subheader {
  margin: 0;
  margin-bottom: 1em;
  transform: matrix(1, -0.08, 0, 1, 0, 0);
  font-weight: 500;
  line-height: 1.2;
  font-size: 6vw;
  font-weight: 500;
  line-height: 1.19;
}

@media screen and (min-width: 768px) {
  .section__heading_contacts {
    margin-top: -1vmax;
    margin-bottom: 2vmax;
  }

  .section__heading_projects {
    font-size: 23vmin;
    margin-bottom: .44em;
  }

  .section__heading_map {
    font-size: 14.6vmin;
    margin-top: -2vmax;
  }

  .section__heading_support-us {
    font-size: 15vmin;
  }

  .section__heading_team {
    font-size: 23vmin;
  }

  .section__heading_partners {
    font-size: 20vmin;
    margin-bottom: 2vmax;
  }

  .section__heading_contacts {
    font-size: 20vmin;
  }

  .section__subheader {
    max-width: 75vw;
    margin: 0 0 1em;
    transform: matrix(1, -0.08, 0, 1, 0, 0);
    font-weight: 500;
    line-height: 1.2;
    font-size: 4.1vw;
    transform-origin: left;
  }
}
