.site-description {
    font-size: max(1.8vmax, 20px);
    line-height: 1.5;
    max-width: 80%;
}

.site-description_align-left {
    text-align: left;
    padding-left: 2.3em;
    margin-right: auto;

    &:first-letter {
        margin-left: -2.3em;
    }
}

.site-description_align-right {
    text-align: right;
    margin-left: auto;

    &:first-letter {
        margin-left: 60%;
    }
}

.section {
    margin-bottom: 10vmax;
}

.section-heading {
    position: relative;
    z-index: 1;
    font-size: 8vmax;
    line-height: 1.3;
    margin: .5vmax 0 3vmax;
    transform: matrix(1, -0.11, 0, 0.99, 0, 0);
    transform-origin: center;
}

.section-heading_projects {
    font-size: 23vmin;
    color: #FFD400;
}

.section-heading_support-us {
    font-size: 15vmin;
    line-height: .9;
    color: #00D200;
    margin-top: 6vmax;
}

.section-heading_team {
    font-size: 23vmin;
    color: #00B4FF;
}

.section-heading_partners {
    font-size: 20vmin;
    color: #00D200;
}

.section-heading_contacts {
    font-size: 20vmin;
    line-height: .83;
    color: #FFD400;
}

.support-description {
    font-size: max(2.5vw, 20px);
    padding-left: 30vw;
    margin-top: -8.5vmin;
    line-height: 1.25;
}

.support-link {
    display: inline-block;
    font-weight: 600;
    font-size: 6.5vmin;
    line-height: 1.29;
    color: #00D200;
    text-decoration: underline;
    text-decoration-color: rgba(0, 210, 0, .3);
    transition: .15s ease;
    margin-top: .5em;
}

.partners-text {
    font-size: max(1.5vmax, 20px);
    line-height: 1.6;
    max-width: 38vmax;
    margin-top: 2vmin;
    margin-bottom: 9vmin;
}

.iset {
    max-width: 60vmax;
    margin-top: 5vmax;
}

.iset__heading {
    width: 40vmax;
    height: auto;
}

.iset__description {
    font-size: max(2.5vw, 20px);
    line-height: 1.6;
    color: rgba(230, 240, 250, .5);
}

.iset__link {
    color: #FFD200;
    font-size: max(2.5vw, 20px);
    text-decoration: underline;
    text-decoration-color: rgba(255, 210, 0, 0.3);
    transition: .15s ease;

    &:hover {
        text-decoration-color: #FFD200;
    }
}
