.site-description {
    font-size: max(2.1vmax, 32px);
    line-height: 1.5;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 3vmax;
}

.site-description_align-left {
    text-align: left;
    margin-right: auto;
}

.site-description_align-right {
    text-align: right;
    margin-left: auto;

    &:first-letter {
        margin-left: 30%;
    }
}

.section {
    margin-bottom: 12.5vmax;
}

.section-heading {
    position: relative;
    z-index: 1;
    font-size: 8vmax;
    line-height: 0.86;
    margin: 1.5vmax 0 6vmax;
    transform: matrix(1, -0.08, 0, 1, 0, 0);
    transform-origin: center;
    color: #55647D;
}

.section-heading_projects {
    font-size: 23vmin;
}

.section-heading_support-us {
    font-size: 15vmin;
    line-height: .9;
    margin-top: 6vmax;
}

.section-heading_team {
    font-size: 23vmin;
}

.section-heading_partners {
    font-size: 20vmin;
}

.section-heading_contacts {
    font-size: 20vmin;
    line-height: .83;
}

.support-description {
    font-size: max(2.5vw, 20px);
    padding-left: 30vw;
    line-height: 1.25;
}

.support-link {
    display: inline-block;
    font-weight: 600;
    font-size: 6.5vmin;
    line-height: 1.29;
    color: #00D200;
    text-decoration: underline;
    text-decoration-color: rgba(0, 210, 0, .3);
    transition: .15s ease;
    margin-top: .5em;
}

@media screen and (min-width: 768px) {
    .site-description {
        max-width: 60%;
    }
    
    .site-description_align-right {
        &:first-letter {
            margin-left: 30%;
        }
    }
    
}
