.menu {
    display: none;
}

@media screen and (min-width: 991px) {
    .menu {
        display: flex;
        position: fixed;
        z-index: 4;
        left: 50%;
        bottom: 4vh;
        transform: translateX(-50%);
        padding: 10px;
        background: rgba(0,0,0,.7);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 70px;
    }

    .menu__item {
        color: #A5B4D2;
        transition: all .15s ease;
        text-decoration: none;
        padding: 14px 24px 13px;
        line-height: 1;
        border-radius: 100px;
        white-space: nowrap;
        background: transparent;
        font-size: max(1.4vw, 22px);

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .menu__item_active {
        color: black;
        background: #FFD400;
        text-decoration: none;
        font-weight: 400;

        &:hover {
            color: black;
        }
    }
}
