.menu {
    display: none;
}


@media screen and (min-width: 991px) {
    .menu {
        display: flex;
    }

    .menu__item {
        color: #A5B4D2;
        transition: all .15s ease;
        text-decoration: none;
        padding: 1px 18px 0;
        border-radius: 100px;
        white-space: nowrap;
        background: transparent;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .menu__item_active {
        color: black;
        background: #FFD400;
        text-decoration: none;
        font-weight: 400;

        &:hover {
            color: black;
        }
    }
}
