.menu {
    position: fixed;
    z-index: 4;
}

.menu__list,
.menu__logo {
    display: none;
}

.menu__button {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    display: inline-block;
    padding: .38em 1.5em .25em;
    transform: scale(1) translateZ(0);
    transform-origin: center;
    transition: transform .1s ease;
    border-radius: 100px;
    background: #ffd400;
    box-shadow: 0 0 0 0 #ffd400;
    color: #000;
    font-size: calc(18px + .6vw);
    font-size: clamp(22px, 1.4vw, 24px);
    line-height: 1.85;
    white-space: nowrap;
    animation: .15s 1s menuFadeIn ease-in both;

    &:hover {
        transform: scale(1.1) skewY(-5deg) translateZ(0);
        text-decoration: none;
    }
}

@media screen and (min-width: 991px) {
    .menu {
        display: flex;
        bottom: 2vh;
        left: 1.5%;
        align-items: center;
        justify-content: space-between;
        width: 97%;
    }

    .menu__list {
        display: flex;
        left: 50%;
        margin-left: -2%;
        padding: 8px;
        border-radius: 70px;
        background: rgba(0, 0, 0, .7);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        animation: .15s 1s menuFadeIn ease-in both;
    }

    .menu__list-item {
        padding: .5em 24px .5em;
        transition: all .15s ease;
        border-radius: 100px;
        background: transparent;
        color: rgba(230, 240, 255, .7);
        font-size: clamp(22px, 1.4vw, 24px);
        line-height: 1;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            background: rgba(230, 240, 255, .15);
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
        }
    }

    .menu__list-item_active,
    .menu__list-item_active:hover {
        background: rgba(230, 240, 255, .4);
        color: white;
        font-weight: 400;
        text-decoration: none;
    }

    .menu__button {
        position: static;
    }
}

@media screen and (min-width: 1440px) {
    .menu__logo {
        display: flex;
        position: relative;
        align-items: center;
        padding: .4em 1em .35em 3.5em;
        transition: .15s ease all;
        border-radius: 100px;
        background: rgba(0, 0, 0, .7);
        color: white;
        font-size: clamp(22px, 1.4vw, 24px);
        line-height: 1;
        pointer-events: none;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        animation: .15s 1s menuFadeIn ease-in both;
    }

    .menu__logo-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

@keyframes menuFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
